.idea
__pycache__
frida
.DS_Store
dist
build
Dwarf.iml
.shortcuts
.dwarf
.git_cache
.sessions
tools
.decompile
.tmp
.vscode
*.patch
desktop.ini
dwarf_window_pos.ini
linter.py
profiler.py
venv
venv3
env
*.ai
plugins
scripts
.r2pipe
.ranges
bin